{
  "presets": ["@babel/preset-env"],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "useBuiltIns": "entry",
            "corejs": 3
          }
        ]
      ],
      "plugins": []
    }
  }
}
